*.class
*.log
*~
/doc/whoami.txt
/project/target
/project/project/target
/.idea/workspace.xml
/target
\#*#
/qrhl.jar
/qrhl.zip
/isabelle-temp
/test.qrhl
/Test.thy
/Testing.thy
/Tmp.thy
.*.marks
/tmp
/doc/*.lst
/doc/makesymind.py
./
/doc/declmath.css
/doc/declmath.js
/doc/declmath.sty
/doc/declmath.sty.ltxml
/doc/declmath
*.aux
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.out
*.run.xml
*.sdx
*.syi
/doc/manual-blx.bib
/doc/manual.pdf
