[submodule "isabelle-thys/Tensor_Product"]
	path = isabelle-thys/Tensor_Product
	url = ../tensor-product.git
[submodule "scala-isabelle"]
	path = scala-isabelle
	url = ../scala-isabelle.git
[submodule "proofgeneral"]
	path = proofgeneral
	url = https://github.com/dominique-unruh/proofgeneral.git
	branch = qrhl-tool
