*.log
*~
/doc/whoami.txt
/project/target
/hashedcomputation/target
/project/project/target
/target
/qrhl.jar
/qrhl.zip
.*.marks
/tmp
/doc/*.lst
/doc/makesymind.py
/doc/declmath.css
/doc/declmath.js
/doc/declmath.sty
/doc/declmath.sty.ltxml
/doc/declmath
*.aux
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.out
*.sdx
*.syi
/doc/manual-blx.bib
/doc/manual.pdf
*.synctex.gz
/isabelle-thys/Scratch.thy
/isabelle-thys/#*.thy#
/qrhl-tool.conf
_region_.tex
_region_.prv
prv_manual.fmt
manual.toc
_region_.pdf
/.idea
/examplein.txt
/exampleout.txt
/Scratch.thy
/out/manual-blx.bib
/out/manual.pdf
/.bsp
.#*
\#*#
/Gemfile.lock
/_site
/ci/.image
