name: test-qrhl-tool
on: [push]
jobs:
    test-qrhl:
      runs-on: [self-hosted, linux]
      steps:
        - name: Checkout repository
          uses: actions/checkout@v4
          with:
            submodules: true

        - name: Running tests
          run:
            ci/test.py --no-show-results --num-tests 1;
            mv target/test-results/*/test-reports/qrhl.zip .

        - name: Upload test results
          uses: actions/upload-artifact@v4
          if: always()
          with:
            name: test-results
            path: target/test-results

        # This uploads a double ZIP (see https://github.com/actions/upload-artifact#zipped-artifact-downloads).
        # We cannot circumvent this by giving a directory to `upload-artifact` (as done in c618ad87) because then executable bits are lost.
        # (See https://github.com/actions/upload-artifact#permission-loss).
        - name: Upload qrhl.zip
          uses: actions/upload-artifact@v4
          with:
            name: qrhl
            path: qrhl.zip
